<launch>
  <arg name="map_file" default="$(find nox)/maps/my_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	<include file="$(find nox)/launch/nox_navigation.launch" />

	<!--  ************** gmapping ***************  -->
	<master auto="start"/>
	<param name="/use_sim_time" value="false"/>
	<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen"/>
	<remap from="scan" to="scan"/>
	<param name="delta" value="0.05"/>
	<param name="xmin" value="-20"/>
	<param name="xmax" value="20"/>
	<param name="ymin" value="-20"/>
	<param name="ymax" value="20"/>
	<param name="base_frame" value="chassis"/>
	
	<param name="linearUpdate" value="1.5"/>
	<param name="angularUpdate" value="0.436"/>
	<param name="temporaryUpdate" value="-1"/>
	<param name="resampleThreshold" value="0.5"/>
	<param name="particles" value="80"/>


	<!-- laser filter configration -->
	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
		<rosparam command="load" file="$(find nox)/cfg/laser_filter.yaml" />
		<remap from="scan" to="scan" />
  </node>
				<!--  ************* Visualisation **************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find nox)/cfg/rviz_slam_base_local_planner.rviz" required="true" />
</launch>
